<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<h1>Missed Habits</h1>
<ul>
    <% missedHabits.forEach(habit => { %>
        <li><%= habit.name %> - Missed</li>
    <% }) %>
</ul>
<a href="/">Back to Home</a>
</body>
</html>